body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%
}

.prediction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

form {
    width: 400px;
    padding: 5px;
    border-radius: 5px;
}